<style>
    .box-container{
        width: 100%;
        text-align: center;
    }
    h1.success{
        color: green;
    }
    button.action{
        padding: 10px;
        border: 1px solid green;
        border-radius: 3px;
        background: aqua;
    }
</style>
<div class="box-container">
    <h1 class="success">Your Nomination was added successfully</h1>
    <h4>Choose your next action to continue</h4>
    <hr>
    <button class="action">View Nomination</button>
    <hr>
    <button class="action">Add New Nomination</button>
    <hr>
    <button class="action">View Active Nominations</button>
    <hr>
    <button class="action">Share Nomination</button>

</div>